@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap");
body {
  margin: 0;
  font-family: Inter, "Courier New";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
